
body{
    background: #404040 url(footer_lodyas.png) center center repeat;
    color: #FFFFFF;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
}


#homeCarousel .item img{
    display: block;
    width: 100%;
    height: auto;
}

#CarouselProducts .item{
  margin: 3px;
}
#CarouselProducts .item img{
  display: block;
  width: 100%;
  height: auto;
  background: #42bdc2;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #000000;
}